body{
	background-color: lightblue;
}

h1{
	background-color: white;
}

p.solid{
	border-color: blue;
	border-width: 4px;   
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: Georgia;
}

p{
	border-style: solid;
}

/*>>>>>>> 607c0b29a4a66bb0e3b0c9c9e2b064389328af28*/
